# speedreader
speedreader/__pycache__/
speedreader/*.py[oc]
speedreader/build/
speedreader/dist/
speedreader/wheels/
speedreader/*.egg-info
speedreader/.python-version
speedreader/.venv
speedreader/.env
speedreader/resources/*
speedreader/temp_resources/*
speedreader/sample.ipynb

# chat_server
chat_server/__pycache__/
chat_server/*.py[oc]
chat_server/build/
chat_server/dist/
chat_server/wheels/
chat_server/*.egg-info
chat_server/.python-version
chat_server/.venv
chat_server/.env

# speedreader-frontend
speedreader-frontend/node_modules
speedreader-frontend/.pnp
speedreader-frontend/.pnp.*
speedreader-frontend/.yarn/*
speedreader-frontend/!.yarn/patches
speedreader-frontend/!.yarn/plugins
speedreader-frontend/!.yarn/releases
speedreader-frontend/!.yarn/versions
speedreader-frontend/coverage
speedreader-frontend/.next/
speedreader-frontend/out/
speedreader-frontend/build
speedreader-frontend/.DS_Store
speedreader-frontend/*.pem
speedreader-frontend/npm-debug.log*
speedreader-frontend/yarn-debug.log*
speedreader-frontend/yarn-error.log*
speedreader-frontend/.pnpm-debug.log*
speedreader-frontend/.env*
speedreader-frontend/.vercel
speedreader-frontend/*.tsbuildinfo
speedreader-frontend/next-env.d.ts
